.header {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 100px;  
}

.link {
    text-decoration: none;
    color: inherit;
}

h1 {
    padding-left: 10px;
    font-size: 30px;
}

span {
    color: rgb(116, 6, 106);
    font-style: italic;
    font-size: 20px;
  }
  
.searchBarContainer {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(185, 185, 185);
}

form {
    display: flex;
    justify-content: center;

}

input {
    border: none;
    padding-left: 10px;
    outline: none;
    color: rgb(44, 44, 250);
}

button {
     padding: 0px 8px;   
     height: 28px;
     background-color: white;
     border: none;
     color: rgb(0, 0, 0);
     font-size: 20px;
}

