
.card {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    width: 60%;
    background-color: white;
  }

  .flex {
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .redditsContainer:hover {
    background-color: #94e1f7;
    transform: scale(1.05);
  }

  .title {
      font-weight: bold;
      font-size: 20px;
  }

  img {
    height: auto;
    width: 50%;
  }

  .likes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    padding: 30px 20px 30px 5px;

  }

hr {
  width: 70%;
  height: 0px;
  border: none;
  border-top: 0.5px solid lightgrey;

}

  .comments {
    padding: 20px 10px 10px;
  }

  .comments button {
    min-width: 50px;
    font-size: 12px;
    font-style: italic;
    color: white;
    background: linear-gradient(to right, #61dafb, rgb(116, 6, 106));
    border: 0.5px solid grey;
    border-radius: 20px;
  }