.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    width: 66%;
    background-color: white;
  }

  .redditsContainer {
      padding: 20px;
  }
  
  .card:hover {
    background-color: rgb(248, 185, 216);
  }

  .title {
      font-weight: bold;
      font-size: 20px;
  }

  img {
    height: auto;
    width: 50%;
  }

  .likes {
      display: block;

  }